.xslider {
    position: relative;
    width: 800px;
    left: 18%;
    max-width: 95vw;
    height: 500px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
}

.xtrack {
    display: flex;
    height: 100%;
    transition: transform 0.7s ease-in-out;
}

.xitem {
    min-width: 100%;
    height: 100%;
}

.xitem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.xbtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    width: 50px;
    height: 50px;
    font-size: 30px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 10;
}

.xprev {
    left: 20px;
}

.xnext {
    right: 20px;
}

.xdots {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 12px;
}

.xdot {
    width: 13px;
    height: 13px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.xdot.active {
    background: white;
    transform: scale(1.4);
}

.more-picturebtn {
    margin-top: 5%;
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
}


@media (max-width: 400px) {
    .xslider {
        left: 0;
    }

    .more-picturebtn {
        margin-top: 20%;
        font-size: 0.8rem;
    }
}

@media (max-width: 768px) {
    .xslider {
        left: 0%;
    }
}

@media (max-width: 1024px) {
    .xslider {
        left: 0%;
    }
}